@font-face {
    font-family: 'Space Grotesk';
    src: url( './SpaceGrotesk.woff2' ) format( 'woff2' );
}

:root {
    --accent: #1a66a9;
}

body {
    margin: 0;
    padding: 56px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    text-underline-offset: 12%;
    background: #efefef;
}

a {
    text-decoration: none;
    color: var( --accent );
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    padding: 32px 48px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 0 6px #e4e4e4;
}

header, footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

header .teaser {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
}

header .teaser .dev {
    padding: 2px 12px;
    font-size: 20px;
    color: #fff;
    background: var( --accent );
    border-radius: 14px;
}

footer .credits {
    margin: 0;
    font-size: 14px;
}

footer .contact {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    font-size: 14px;
}

main {
    margin: 48px 0;
}