@font-face {
    font-family: 'Space Grotesk';
    src: url( './SpaceGrotesk.woff2' ) format( 'woff2' );
}

:root {
    --accent: #1a66a9;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
}

*, *:before, *:after {
    box-sizing: border-box !important;
    outline: 0 none;
}

body {
    margin: 0;
    padding: 56px;
    line-height: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    text-underline-offset: 12%;
    color: #000;
    background: #efefef;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    padding: 32px 48px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 0 6px #e4e4e4;
}

header, footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 16px;
}

header .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
}

header .logo img {
    width: 48px;
    height: 48px;
}

header .socials {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
}

header .socials img {
    width: 26px;
    height: 26px;
}

footer .contact {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}

footer .credits {
    margin: 0;
}

footer .contact a {
    color: var( --accent );
}

footer .contact a:hover {
    text-decoration: underline;
}

main {
    margin: 48px 0;
}

main .intro {
    max-width: 760px;
    line-height: 32px;
    font-size: 22px;
}